/* ------------------- All Books Page ------------------- */
.all-books-container {
}

.filter-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.books-cards-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 0;
}

.card-popular-books {
  max-width: 290px;
}

@media (max-width: 1024px) {
  .books-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .books-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .books-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
