/* ------------------- All Books Page ------------------- */
.all-books-container {
}

.filter-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.books-cards-container {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 0;
}

@media (width <= 700px) {
  .books-cards-container {
    justify-content: center;
  }
}
