/* ----------------------------- buttonVariants ----------------------------- */
/* --------------- Default ----------- */
.defaultVariant {
  background-color: var(--primary-color);
  border: none;
  color: white;
}
.defaultVariant:hover {
  background-color: var(--primary-color-opacity);
}
/* --------------- Outline ----------- */
.outlineVariant {
  border: 1px solid var(--ring-color);
  background-color: var(--background-color);
}
.outlineVariant:hover {
  background-color: var(--ring-color);
  color: var(--text-color);
}
/* --------------- Ghost ----------- */
.ghostVariant {
  border: none;
  background-color: var(--background-color);
}

/* ----------------------------- buttonSizes ----------------------------- */
/* --------------- Default ----------- */
.defaultSize {
  height: 2.5rem;
  padding: 0.5rem 1rem;
}
/* --------------- sm ----------- */
.smSize {
  height: 2.25rem;
  border-radius: 0.375rem;
  padding: 0 0.75rem;
}
/* --------------- lg ----------- */
.lgSize {
  height: 2.75rem;
  border-radius: 0.375rem;
  padding: 0 2rem 0 2rem;
}
/* --------------- icon ----------- */
.iconSize {
  height: 2.5rem;
  width: 2.5rem;
}

/* ----------------------------- Button Default ----------------------------- */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  cursor: pointer;
}
.button:focus-visible {
  outline: none;
}
.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
